*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*
====================================================
----------------------GENERIC-----------------------
====================================================
*/


.content-box{
  padding: 60px 0 60px 0;
}

.content-title h3{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 0 0 30px 0;
}

.content-title-primary h3{
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-top: 0 0 30px 0;
}

.content-title-white h3{
  color: #fff;
}

.content-title-underline{
  width: 180px;
  height: 5px;
  background-color: #804000;
  margin: 0 auto 30px auto;
}


.img-menu{
	width: 100%;
}

footer{
	background: #333;
	height: 200px;
	text-align: center;
}

footer p{
	padding: 15px;
	color: #ddd;
	font-family: sans-serif;
}

footer ul{
	justify-content: center;
	display: flex;
}

footer ul li{
	margin: 15px;
	list-style: none;
}


.picadas{
	background-image: 
    linear-gradient(
      rgba(3, 3, 3, 3.8), rgba(0, 0, 0, 0.12)
    ), url("menu/fondo.jpg");
}

.beer{
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 3.8), rgba(0, 0, 0, 0.1)
    ), url("menu/wall-beer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.promo{
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, .8), rgba(0, 0, 0, .60)
    ), url("menu/promokarai.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.pizza{
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 3.8), rgba(0, 0, 0, 0.12)
    ), url("menu/pizza.jpg");
}

.table-rgba{
	background: rgb(255, 255, 255, 0.15);
}