body, html {
    height: 100%;
}

/*
====================================================
--------------------HERO-IMAGE----------------------
====================================================
*/

.hero-image {
  background-image: 
    linear-gradient(
      rgba(3, 3, 3, 3.8), rgba(0, 0, 0, 0.2)
    ), url("menu/portada.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1{
  font-size: 60px;
  -webkit-text-stroke: 1px #000;
}

.hero-text p{
  font-size: 18px;
}